*{
    margin: 0;
    padding: 0;
}
body{
    background: #efefe2;
    color: #000;

}
.grid-contenedor{
    /* width: 90%; */
    max-width: 100%;
    margin: 0;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);

    grid-template-areas: "aside header header header header header"
                         "aside main main main main main"
                         "aside main main main main main";
}
.grid-contenedor > div, 
.grid-contenedor .header, 
.grid-contenedor .aside,
.grid-contenedor .footer,
.grid-contenedor .main{
    
    padding: 20px;
}
.grid-contenedor .header{
    background: #000;
    color: #fff;
    grid-area: header;
}
.grid-contenedor .main{
    height: 100%;
    grid-area: main;
    background: #efefe2;
}
.grid-contenedor .aside{
    height: 100vh;
    grid-area: aside;
    background-color: #1a1b13;
    color: #fff;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    
}
@media screen and (max-width: 768px) {
    .grid-contenedor{
        grid-template-areas: "header header header header header header"
                             "aside aside aside aside aside aside"
                             "main main main main main main";
    }
    .grid-contenedor .aside{
        justify-content: end;
        height: 80px;
        background-color: #1a1b13;
        color: #fff;
        font-size: 1rem;
        padding: 0;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}
